body {
    margin: 0;
    padding: 0;
    background: url('vector-seamless-background-with-hand-drawn-black-hearts-seamless-pattern-with-hearts_363400-478.avif') repeat;
    overflow-wrap: break-word;
    font-family: 'Great Vibes', cursive;
}

.container {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    margin: 50px auto; /* Центрируем контейнер и добавляем отступ сверху */
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    margin: 0 0 20px;
    color: #FFF8DC;
}

p {
    font-size: 1.5rem;
    margin: 0 0 20px;
    color: wheat;
}

.photos {
    display: flex;
    flex-direction: column; /* Располагаем изображения вертикально */
    align-items: center;
    gap: 20px;
}

.photos img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%; /* Изображения занимают всю ширину контейнера */
    max-width: 500px; /* Максимальная ширина изображений */
    height: auto;
}
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* Скрыто по умолчанию */
}

#popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
}

#popup p {
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn-yes {
    background-color: #4CAF50;
    color: white;
}

.btn-no {
    background-color: #f44336;
    color: white;
}